<div class="content-container">
	<div class="headerBox">
		<img src="./assets/Images/Seven/seven-string-thin-border.png" alt="Seven String" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			Seven String
		</h3>
		<div class="descriptionText">
			<p>
				Ibanez Iron Label RGIXL7
			</p>
			<p>
				Thinking that a 7 string guitar was the missing link to getting the heaviest tone possible, I pulled the
				trigger on a new Iron Label extended range guitar. Come to find out, it has nothing to do with the extra
				string, but rather an additional 1.5" scale length. This thing is capable of trudging along in the
				depths of a drop G tuning while remaining stable. It also came with the cost of setting up the bass to
				retain the octave relationship, setting it up for 10-74g strings, and cleaning up all the muddiness in
				the mix. Once we got it dialed in it became the core of some fairly filthy tracks.
			</p>
		</div>
	</div>

	<media-group [mediaLinks]="mediaLinks">
	</media-group>

</div>