<div class="playback-controls">
	<div class="player-container">

		<!-- Play Pause Buttons -->
		<div>
			<i class="material-icons player-button play-pause-button" *ngIf="!isPlaying" (click)="playButtonClick()">
				play_circle
			</i>
			<i class="material-icons player-button play-pause-button" *ngIf="isPlaying" (click)="playButtonClick()">
				pause_circle
			</i>
		</div>

		<!-- Scrubber & Track Info -->
		<div class="stack-flex-container">
			<div class="player-control-stack">

				<!-- Track Info -->
				<div>
					<span class="track-label">{{trackName}}</span>
					<span class="time-labels">
						{{formattedPlayTime}} - {{formattedDuration}} - ({{formattedTotalTime}})
					</span>
				</div>

				<!-- Scrubber -->
				<div>
					<input #scrubRangeRef type="range" min="1" max="100" value="0" class="scrubber-control"
						(input)="scrubAudio()">
				</div>

				<!-- Nav & Volume -->
				<div class="nav-volume-container">
					<i class="material-icons player-button" (click)="changeTrack('previous')">
						fast_rewind
					</i>
					<i class="material-icons player-button" (click)="changeTrack('next')">
						fast_forward
					</i>
					<i class="material-icons player-button" (click)="volumeButtonClick('down')">
						volume_down
					</i>

					<input #volumeRangeRef type="range" min="1" max="100" value="99" class="volume-control"
						(input)="changeVolume()">

					<i class="material-icons player-button" (click)="volumeButtonClick('up')">
						volume_up
					</i>
				</div>

			</div>
		</div>
	</div>

	<div class="circuit-bend-controls">
		<div class="circuit-bend-button">
			<i class="material-icons" (click)="circuitBendClick()">
				blur_circular
			</i>
		</div>
		<div *ngIf="showCircuitBending">
			<div>
				<i class="material-icons" (click)="rateResetClick()">
					slow_motion_video
				</i>

				<input #rateRangeRef type="range" min="1" max="500" value="99" class="rate-control"
					(input)="changeRate()">
			</div>
		</div>
	</div>

</div>

<div class="track-list">
	<div>
		<mat-form-field>
			<mat-select [(value)]="selectedGenre" (valueChange)="genreChange()">
				<mat-option [value]="genre" *ngFor="let genre of genres">
					{{genre.getIdentifier().asString()}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div *ngFor="let track of trackList; let i = index" (click)="trackClick(track)" class="audioLink">
		<div class="mediaList">
			<span class="trackNumber">
				{{i + 1}}:&nbsp;{{track.getFileName()}}
			</span>
		</div>
	</div>
</div>