.player-container {
	display: flex;
	flex-direction: row;
	padding-top: 20px;
}

.playback-controls {
	display: flex;
	flex-direction: row;
}

.play-pause-button {
	font-size: 50px;
	border: thin solid lightgray;
}

.player-button {
	opacity: 0.6;
	transition: opacity .2s;
}

.player-button:hover {
	opacity: 1.0;
}

.player-control-stack {
	padding-left: 10px;
	display: flex;
	flex-direction: column;
}

.stack-flex-container {
	align-content: center;
}

.scrubber-control,
.volume-control,
.rate-control {
	width: 200px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 5px;
	background: black;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.volume-control {
	width: 100px;
}

.scrubber-control::-webkit-slider-thumb,
.volume-control::-webkit-slider-thumb,
.rate-control::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 20px;
	height: 10px;
	background: lightgray;
	cursor: pointer;
	border: thin solid black
}

.track-label {
	padding-right: 10px;
}

.time-labels {
	color: darkslategray;
	font-style: oblique;
}

.nav-volume-container {
	display: flex;
	align-items: center;
}

.circuit-bend-button {
	top: 10px;
	left: 10px;
}

.circuit-bend-controls {
	padding-top: 20px;
	padding-left:50px;
}

.track-list {
	padding-top: 20px;
}


// Check if any of the following styles are needed after restyle

.track-art {
	margin: 25px;
	height: 250px;
	width: 250px;
	background-image: URL("./assets/Images/norns.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 5%;
}

.material-icons {
	cursor: pointer;
}


.audioLink {
	box-sizing: border-box;
	cursor: pointer;
}

.audioLink:hover {
	font-weight: bold;
	background-color: lightgray;
	box-sizing: border-box;
}

.trackNumber {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	color: gray;
}

.audioLinkContainer {
	width: 400px;
}

.mat-list-base {
	padding: 0;
}

h4 {
	margin: 0;
}