<mat-form-field>
	<mat-label>Order</mat-label>
	<input matInput [(ngModel)]="audioOrder" type="number" />
</mat-form-field>

<div>
	<mat-form-field>
		<mat-select [(value)]="selectedGenre" (valueChange)="genreChange()">
			<mat-option *ngFor="let genre of genres" [value]="genre">
				{{genre.getIdentifier().asString()}} - {{genre.getDescription()}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>

<div>
	<input #fileInput type="file" class="file-input" accept=".mp3" (change)="attachMp3($event)" />
</div>