.adminParentContainer {
	height: 370px;
	position: relative;
}

.closeButton {
	position: absolute;
	bottom: 0;
	right: 0px;
}

.cancelButton {
	margin-top: 10px;
}

.adminActionContainer {
	padding-top: 20px;
}

.authFields {
	display: flex;
	flex-direction: column;
}