<div *ngIf="!adminAuthed" class="authFields">
	<mat-form-field>
		<mat-label>Username</mat-label>
		<input matInput [(ngModel)]="adminUsername" />
	</mat-form-field>

	<mat-form-field>
		<mat-label>Password</mat-label>
		<input matInput type="password" [(ngModel)]="adminPassword" />
	</mat-form-field>
	
	<button (click)="adminLoginClick()">
		Login
	</button>

	<button (click)="closeClick()" class="cancelButton">Cancel</button>
</div>

<div *ngIf="adminAuthed" class="adminParentContainer">
	<mat-tab-group>
		<mat-tab label="Genres">
			<genre-admin></genre-admin>
		</mat-tab>
		<mat-tab label="Audio">
			<audio-admin></audio-admin>
		</mat-tab>
	</mat-tab-group>

	<div class="adminActionContainer">
		<button (click)="closeClick()" class="closeButton">Close</button>
	</div>
</div>