<div class="flexLayout">

    <div class="mainContainer">

        <div class="navigator">
            <navigator></navigator>
        </div>

        <div #contentDiv class="content">
            <router-outlet (activate)="scrollToTop(contentDiv)"></router-outlet>
        </div>


        <loader></loader>

        <app-footer *ngIf="isMobile"></app-footer>

    </div>

</div>