<div class="contentContainer">
	<div class="headerBox">
		<img src="./assets/Images/Supercollider/supercollider-thin-border.png" alt="Open Stage Control" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			SuperCollider
		</h3>

		<div class="descriptionText">
			<p>
				Coded Synthesis & Audio Processing
			</p>
			<p>
				Upon discovering the Monome Norns, the Supercollider platform became another fascinating rabbit hole.
				Though I've just scathed the surface of the endless possibilities, I've already created dozens of
				nonsense projects that never fail to keep me entertained. While I was able to get a grasp of Norns
				scripts using Lua, the engines themselves were always a bit of a mystery. Using the Norns Pedalboard
				script as a guide, I've begun the arduous task of being creative with Supercollider and make usable
				engines and effects.
			</p>
		</div>
	</div>

	<media-group [mediaLinks]="mediaLinks">
	</media-group>
</div>