<div class="contentContainer">
	<div class="headerBox">
		<img src="./assets/Images/cubase-border.png" alt="Cubase" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			Steinberg Cubase 10 Pro
		</h3>

		<div class="descriptionText">
			<p>
				<i>"I think of Cubase as a Laboratory"</i> - Hans Zimmer
			</p>
			<p>
				I started my journey in recording using a free audio workstation called Tracktion 5 (now under the name
				of <a href="https://www.tracktion.com/products/waveform-free">Waveform</a>). I would recommend this
				workstation to any beginner, as I created over a hundred projects where I learned the basics of mixing,
				using VST plugins, automation, and so much more. However, as the projects increased in size and were
				supported by a cheap 10 year old Asus laptop, I found myself fighting the limitations of both Tracktion
				and my machine.
				Inspired by the minds of
				<a href="https://www.youtube.com/user/MishaMansoor" target="_blank">
					Misha Mansoor
				</a>
				and
				<a href="https://www.youtube.com/c/DavidMaximMicic" target="_blank">
					David Maxim Micic
				</a>, Cubase was an easy choice for a replacement DAW.
				Diving into Cubase 10 Pro took me to an unexplored environment where anything seemed possible. The world
				of sampling, EQ, compression, and the likes were all unleashed at once. Even several years later, I'm
				finding that the only limiting factor of this software is myself and the second hand desktop I build to
				handle the CPU load.
			</p>
		</div>
	</div>

	<media-group [mediaLinks]="mediaLinks">
	</media-group>
</div>