<div class="trackContainer">

	<mat-form-field *ngIf="selectedGenre">
		<mat-select [(value)]="selectedGenre" (valueChange)="genreChange($event)">
			<mat-option [value]="genre" *ngFor="let genre of genres">
				{{genre.getIdentifier().asString()}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<button (click)="uploadAudioClick()" id="uploadAudioButton" class="updateButton">
		Upload Audio File
	</button>

	<button *ngIf="orderChanged" (click)="updateAudioOrderClick()" class="updateButton">
		Update Audio Order
	</button>

	<div class="tableContainer">
		<table mat-table [dataSource]="audioDataSource">

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>
					File Name
				</th>
				<td mat-cell *matCellDef="let audio">
					<div class="matColumn">
						{{audio.getFileName()}}
					</div>
				</td>
			</ng-container>

			<ng-container matColumnDef="genre">
				<th mat-header-cell *matHeaderCellDef>
					Genre
				</th>
				<td mat-cell *matCellDef="let audio">
					<div class="matColumn">
						{{audio.getGenreIdentifier().asString()}}
					</div>
				</td>
			</ng-container>

			<ng-container matColumnDef="order">
				<th mat-header-cell *matHeaderCellDef>
					Order
				</th>
				<td mat-cell *matCellDef="let audio">
					<div class="matColumn">
						{{audio.getOrder()}}
					</div>
				</td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef>
					Actions
				</th>
				<td mat-cell *matCellDef="let audio; let i = index;">

					<div class="audioActionRow">
						<div class="audioActionSlot">
							<mat-icon (click)="moveOrderUp(i)" *ngIf="!disableUpOrder(i)" class="orderButton"
								title="Move Up">
								arrow_upward
							</mat-icon>
						</div>

						<div class="audioActionSlot">
							<mat-icon (click)="moveOrderDown(i)" *ngIf="!disableDownOrder(i)" class="orderButton"
								title="Move Down">
								arrow_downward
							</mat-icon>
						</div>

						<div class="matColumn">
							<button (click)="deleteTrackClick(audio)">
								Delete
							</button>
						</div>
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="audioColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: audioColumns;"></tr>

		</table>
	</div>

</div>