.tableContainer {
	height: 200px;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.mat-header-cell {
	padding-right: 10px;
}

.matColumn {
	padding-right: 10px;
}

.mat-header-row {
	height: 20px;
}

.mat-row {
	height: 20px;
}

td.mat-cell:first-of-type {
	padding: 0;
}

th.mat-header-cell:first-of-type {
	padding: 0;
}

.audioTrack {
	text-wrap: nowrap;
	padding-left: 10px;
}

.trackContainer {
	padding-top: 5px;
}

.audioRow {
	display: flex;
	flex-direction: row;
	border-bottom: thin solid lightgray;
}

.deleteButton {
	width: 100%;
	display: flex;
	justify-content: end;
}

.audioActionRow {
	display: flex;
	flex-direction: row;
}

.orderButton {
	cursor: pointer;
	padding-right: 5px;
}

.audioActionSlot {
	width: 40px;
}

.updateButton {
	margin-left: 5px;
}