// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$softcut-recordings-primary: mat.define-palette(mat.$indigo-palette);
$softcut-recordings-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$softcut-recordings-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$softcut-recordings-theme: mat.define-light-theme((color: (primary: $softcut-recordings-primary,
                accent: $softcut-recordings-accent,
                warn: $softcut-recordings-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($softcut-recordings-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "serif", sans-serif;
}

img {
    max-width: 100%;
}

.headerBox {
    padding-top: 40px;
}

@media only screen and (max-width: 600px) {
	.headerBox {
        flex-direction: column;
	}
}

.sectionHeader {
    font-size:32px !important;
    line-height: 1.25 !important;
    margin-top: 1.5em !important;
    margin-bottom:0.25em !important;
    border-bottom:thin solid darkgray;
}

.descriptionContainer {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size:16px;
    padding-top: 25px;
}

@media only screen and (max-width: 600px) {
	.descriptionContainer {
        padding-top: 0;
	}
}

.descriptionText {
    line-height: 1.5
}

.contentContainer {
    flex-direction: column;
    max-width: 80vw;
}

.stickyHeader {
    text-align: center;
}

.link {
    color: blue;
    cursor: pointer;
}