<div class="contentContainer">
	<div class="headerBox">
		<img src="./assets/Images/Home/home-thin-border.jpg" alt="Studio" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			About
		</h3>
		<div class="descriptionText">
			<p>
				A collection of musical hardware, software and ideas.
			</p>
			<p>
				This started out as an interest in recording guitar riffs and quickly turned into the hobby of production and engineering.
				The growing pile of Cubase projects and new gear started to become overwhelming, so I decided to try documenting the setup.
				These days, it's all too easy to acquire new hardware and software only to use it once and get a surface level understanding of its functionality.
				I figured by creating a catalog of each module, I'd be forced to create something unique and find new ways of incorporating it into the setup.
			</p>
		</div>
	</div>

</div>