<div class="contentContainer">
	<div class="headerBox">
		<img src="./assets/Images/Tacoma/tacoma-thin-border.jpg" alt="Tacoma" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			Toyota Tacoma
		</h3>
		<div class="descriptionText">
			<p>
				An Often Omitted Acoustic Environment
			</p>
			<p>
				Why would a small pickup truck be included in a list of music production tools?
				Most don't realize that their daily driver couples as an incredible acoustic environment.
				A confined area covered in sound dampening material will likely offer a much more transparent and
				revealing listening experience than an untreated room covered in drywall. Hundreds of hours spend
				casualy consuming audio in such an
				environment tunes the ears to pick up many harsh frequencies and pieces unnoticed.
				My process now includes a short drive combined with critical listening before the final render can be
				justified.
			</p>
		</div>
	</div>

	<media-group [mediaLinks]="mediaLinks">
	</media-group>
</div>