<div class="contentContainer">
	<div class="headerBox">
		<img src="./assets/Images/Bass/bass-thin-border.png" alt="Corder" />
	</div>

	<div class="descriptionContainer">
		<h3 class="sectionHeader">
			Ibanez SR205E
		</h3>
		<div class="descriptionText">
			<p>
				Cheap Bass for an Amature Player
			</p>
			<p>
				5 String Bass with a few modifications:
			</p>
			<ul>
				<li>
					Kalium Strings (.168, .124, .094, .073)
				</li>
				<li>
					Widened Nut Slot
				</li>
				<li>
					Missing Hi String
				</li>
			</ul>
		</div>
	</div>

	<media-group [mediaLinks]="mediaLinks">
	</media-group>
</div>