.genreTable {
	width: 500px;
}

.formContainer {
	margin: 10px;
	padding: 5px;
	margin-left: 0px;
	margin-bottom: 0px;
	border: thin solid lightgray;
}

.formRow {
	padding-top: 5px;
}

.inputLabel {
	display: inline-block;
	width: 80px;
}

.mat-header-cell {
	padding-right: 10px;
}

.matColumn {
	padding-right: 10px;
}

.mat-header-row {
	height: 20px;
}

.mat-row {
	height: 20px;
}

td.mat-cell:first-of-type {
	padding: 0;
}

th.mat-header-cell:first-of-type {
	padding: 0;
}

.addGenreButton {
	margin-top: 10px;
	margin-bottom: 5px;
}