<button (click)="addGenreClick()" [disabled]="editGenreMode" id="addGenreButton" class="addGenreButton">
	Add New Genre
</button>

<table mat-table [dataSource]="genres" class="genreTable">

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef>
			Name
		</th>
		<td mat-cell *matCellDef="let genre">
			<div *ngIf="!showEditField(genre)" class="matColumn">
				{{genre.getIdentifier().asString()}}
			</div>
			<div *ngIf="showEditField(genre)" class="matColumn">
				<input [(ngModel)]="genre.genre" type="text" />
			</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="description">
		<th mat-header-cell *matHeaderCellDef>
			Description
		</th>
		<td mat-cell *matCellDef="let genre">
			<div *ngIf="!showEditField(genre)" class="matColumn">
				{{genre.getDescription()}}
			</div>
			<div *ngIf="showEditField(genre)" class="matColumn">
				<input [(ngModel)]="genre.description" type="text" />
			</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="order">
		<th mat-header-cell *matHeaderCellDef>
			Order
		</th>
		<td mat-cell *matCellDef="let genre">
			<div *ngIf="!showEditField(genre)" class="matColumn">
				{{genre.getOrder()}}
			</div>
			<div *ngIf="showEditField(genre)" class="matColumn">
				<input [(ngModel)]="genre.order" type="number" />
			</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="action">
		<th mat-header-cell *matHeaderCellDef>
			Action
		</th>
		<td mat-cell *matCellDef="let genre">
			<a (click)="editGenreClick(genre)" class="link">
				Edit
			</a>
			<a (click)="updateGenre(genre)" class="link">
				Save
			</a>
			<a class="link" (click)="deleteGenre(genre)" [class.disabled]="addGenreMode">
				Delete
			</a>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="genreColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: genreColumns;"></tr>
</table>

<div *ngIf="addGenreMode" class="formContainer">
	<div class="formRow">
		<span class="inputLabel">
			Name
		</span>
		<input [(ngModel)]="genreName" type="text" />
	</div>
	<div class="formRow">
		<span class="inputLabel">
			Description
		</span>
		<input [(ngModel)]="genreDescription" />
	</div>
	<div class="formRow">
		<span class="inputLabel">
			Order
		</span>
		<input [(ngModel)]="genreOrder" type="number" />
	</div>
	<div class="formRow">
		<button (click)="saveNewGenreClick()">Save</button>
	</div>
</div>